.vscode/**
**/*.test.js
.gitignore
**/jsconfig.json
screenshot.png
color_provider.png
.nyc_output
scripts/**
.github/**
**/__pycache__/**
.vscode-test-web/
src/**/*.ts
node_modules/
test/
jest.config.js
SECURITY.md
